{"clj"
 {clojure.core/.             {:type  :def
                              :url "java_interop#dot"
                              :forms [(.instanceMember instance args*)
                                      (.instanceMember Classname args*)
                                      (Classname/staticMethod args*)
                                      Classname/staticField]
                              :doc "The instance member form works for both fields and methods.
  They all expand into calls to the dot operator at macroexpansion time."}
  clojure.core/def           {:type  :def
                              :forms [(def symbol doc-string? init?)]
                              :doc "Creates and interns a global var with the name
  of symbol in the current namespace (*ns*) or locates such a var if
  it already exists.  If init is supplied, it is evaluated, and the
  root binding of the var is set to the resulting value.  If init is
  not supplied, the root binding of the var is unaffected."}
  clojure.core/do            {:type  :def
                              :forms [(do exprs*)]
                              :doc "Evaluates the expressions in order and returns the value of
  the last. If no expressions are supplied, returns nil."}
  clojure.core/if            {:type  :def
                              :forms [(if test then else?)]
                              :doc "Evaluates test. If not the singular values nil or false,
  evaluates and yields then, otherwise, evaluates and yields else. If
  else is not supplied it defaults to nil."}
  clojure.core/monitor-enter {:type  :def
                              :forms [(monitor-enter x)]
                              :doc   "Synchronization primitive that should be avoided
  in user code. Use the 'locking' macro."}
  clojure.core/monitor-exit  {:type  :def
                              :forms [(monitor-exit x)]
                              :doc   "Synchronization primitive that should be avoided
  in user code. Use the 'locking' macro."}
  clojure.core/new           {:type  :def
                              :forms [(Classname. args*) (new Classname args*)]
                              :url   "java_interop#new"
                              :doc   "The args, if any, are evaluated from left to right, and
  passed to the constructor of the class named by Classname. The
  constructed object is returned."}
  clojure.core/quote         {:type  :def
                              :forms [(quote form)]
                              :doc   "Yields the unevaluated form."}
  clojure.core/recur         {:type  :def
                              :forms [(recur exprs*)]
                              :doc   "Evaluates the exprs in order, then, in parallel, rebinds
  the bindings of the recursion point to the values of the exprs.
  Execution then jumps back to the recursion point, a loop or fn method."}
  clojure.core/var           {:type  :def
                              :forms [(var symbol)]
                              :doc   "The symbol must resolve to a var, and the Var object
itself (not its value) is returned. The reader macro #'x expands to (var x)."}
  clojure.core/set!          {:type  :def
                              :forms [(set! var-symbol expr)
                                      (set! (. instance-expr instanceFieldName-symbol) expr)
                                      (set! (. Classname-symbol staticFieldName-symbol) expr)]
                              :url   "vars#set"
                              :doc   "Used to set thread-local-bound vars, Java object instance
fields, and Java class static fields."}
  clojure.core/throw         {:forms [(throw expr)]
                              :doc "The expr is evaluated and thrown, therefore it should
  yield an instance of some derivee of Throwable."}
  clojure.core/try           {:type  :def
                              :forms [(try expr* catch-clause* finally-clause?)]
                              :doc   "catch-clause => (catch classname name expr*)
  finally-clause => (finally expr*)

  Catches and handles Java exceptions."}
  clojure.core/catch         {:type   :sentinel
                              :target "clojure.core/try"}
  clojure.core/finally       {:type   :sentinel
                              :target "clojure.core/try"}}}
